body { background: #D6BFFF; font-family:'Segoe UI';}
img { display: none; }
img[src] { display: inline; }
img[src=''] { display: none; }
.center { display: block; margin-left: auto; margin-right: auto; width: 50%; }
.hide { display:none; }
.lightPink { /*background-color:#FF7FC5;*/ }
.darkPink { /*background-color:#FF008C;*/ }
.lightBlue { /*background-color:#7FDFFF;*/ }
.darkBlue { /*background-color:#00BFFF;*/ }
.board { background-image:url("SpeedySundaes.png"); background-size:cover; display:block; width:1000px; height:375px; }
.boardTableSpace { text-align:center; }
.boardTableAvatar { width:55px; height:55px; }
.boardTableAvatar[src] { display:inline; }
.playerName { font-size:24px; font-weight:bold; text-align:center; }
.playerInfo0 { height:100%; text-align:center; vertical-align:top; background:#FFC7A5; border-style:solid; border-width:10px; border-color:#D6BFFF; border-radius:40px; padding: 10px 10px; }
.playerInfo1 { height:100%; text-align:center; vertical-align:top; background:#FFFABF; border-style:solid; border-width:10px; border-color:#D6BFFF; border-radius:40px; padding: 10px 10px; }
.playerInfo2 { height:100%; text-align:center; vertical-align:top; background:#BFECFF; border-style:solid; border-width:10px; border-color:#D6BFFF; border-radius:40px; padding: 10px 10px; }
.playerInfo3 { height:100%; text-align:center; vertical-align:top; background:#FFBFCF; border-style:solid; border-width:10px; border-color:#D6BFFF; border-radius:40px; padding: 10px 10px; }
.playerSection { text-align:left; padding: 5px; font-size: 13px; }
.trade { width:20px; height:25px; border-radius:40px; text-align:center; background:darkturquoise; 
                        font-size:12px;}
.cardSlot { text-align:center; width:185px; height:240px }
.cardSlotLightPink { background-image:url("assets/lightpinkDeckCover.png"); background-size:cover; 
                        background-repeat:no-repeat; background-position:center; }
.cardSlotDarkPink { background-image:url("assets/darkpinkDeckCover.png"); background-size:cover; 
                        background-repeat:no-repeat; background-position:center; }
.cardSlotLightBlue { background-image:url("assets/lightblueDeckCover.png"); background-size:cover; 
                        background-repeat:no-repeat; background-position:center; }
.cardSlotDarkBlue { background-image:url("assets/darkblueDeckCover.png"); background-size:cover; 
                        background-repeat:no-repeat; background-position:center; }
.spinnerSlot { text-align:center; height:270px; border-radius: 40px; }
.card { text-align:left; width:140px; height:140px; }
.spinner { text-align:center; width:250px; height:250px; display:block;
                        background-image:url("assets/spinner.png"); background-size:cover; 
                        background-repeat:no-repeat; background-position:center;}
.spinnerArrow { text-align:center; width:250px; height:250px; }
.rotate { animation: rotation 0.5s infinite linear; animation-play-state: paused; }
@keyframes rotation { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }